$color = #002fa7
$black = #000102
$yellow = #ffff02
$grey = #666
$color-bg = #fff
$global-ease = cubic-bezier(.4,0,.5,1)
$font-body = "Suisse", "HelveticaNeue", Helvetica, Arial, Verdana, sans-serif
$font-heading = Futura, 'Gill Sans', sans-serif

body
  font-family $font-body
  font-size 1.6rem
  color $black
  background $color-bg
  cursor url(../assets/cursor.png) 5 5, default
  cursor -webkit-image-set(url(../assets/cursor.png) 1x,
    url(../assets/cursor.png) 2x) 5 5, default

  @media (min-width 1030px)
    font-size 1.8rem

  @media (min-width 1300px)
    font-size 1.9rem

// Layout

.row
  display flex
  flex-direction column-reverse

  @media (min-width 600px)
    display flex
    flex-direction row
    // align-items center
    margin-left -1rem
    margin-right -1rem

    > *
      flex-basis 50%
      padding 0 1rem

// Common

hr
  width 50%
  margin 0
  border 0
  border-bottom 1px solid $color

.main
  padding 4rem 2rem

  @media (min-width 600px)
    padding-right 10rem
    padding-left 10rem

  @media (min-width 1200px)
    max-width 1200px

.blog-title
  font-family $font-heading
  font-weight 800
  font-size 2rem
  line-height 1.1
  color $color
  text-transform uppercase
  margin-bottom 20px

.blog-title__link
  -webkit-text-stroke 0 $color-bg
  transition color 1s steps(3, end)

  &:hover
    -webkit-text-stroke 1px $color
    color $color-bg

.date
  font-family courier
  font-size 1.3rem
  letter-spacing -.05rem
  color $grey

.end
  $size = .5rem

  display inline-block
  position relative
  width $size * 2
  height $size * 2
  color $black
  background-color currentColor
  margin-left $size

  &::after
    content ''
    position absolute
    top 0
    left 0
    display block
    width $size
    height $size
    background-color $yellow
    box-shadow $size $size 0 0 $yellow

// Text

h1, h2, h3, h4, p, ol, ul, pre, blockquote, hr, .full-width-background
  margin-bottom 1.8em

h1, h2, h3, h4
  line-height 1.1

p, ol, ul, pre, blockquote
  line-height 1.5

li
  margin-bottom .6rem

a[href]:visited
  text-decoration line-through

blockquote
  position relative
  text-align center
  quotes "\201C""\201D""\2018""\2019"
  color #fff
  background-color $color
  padding 2.5rem 3rem 2.5rem 5rem
  margin-inline-start 0
  margin-inline-end 5px
  box-shadow 5px 5px $black

blockquote:before
  content open-quote
  position absolute
  top -.1rem
  left .3rem
  font-size 7rem
  font-weight 900
  color $black
  line-height 1

blockquote p
  display: inline;

:not(pre) > code
  font-size 1.3rem
  color #fff
  background-color $black
  padding 2px 3px

pre
  font-size 1.4rem
  color #fff
  background-color $color
  box-shadow 5px 5px $black

.direct-link
  opacity 0
  transition opacity 1s steps(3, end)

.direct-link:focus,
:hover > .direct-link
  opacity .8

// Home

.template-home
  .blog-title
    padding 0.8rem 1.4rem
    border 2px solid $color
    font-family $font-heading
    font-weight 900
    font-size 5rem
    line-height 1
    letter-spacing 1.2rem
    color $color-bg
    text-transform uppercase
    margin-bottom 4rem
    box-shadow 5px 5px $color

  .blog-title__link
    -webkit-text-stroke 2px $color
    // background: linear-gradient(to top, $color, $color 42%, rgba($color, 0) 42%, rgba($color, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    // text-shadow -.2rem -.2rem $color

    &::before
      display none

.postlist-link
  margin-left 1rem

  &::before
    content: ''
    display inline-block
    vertical-align middle
    width 8px
    height 8px
    background-color $color
    // box-shadow 0 0 0 4px $color-bg, 0 0 0 6px $color
    transform: rotate(45deg);
    margin-right 1.8rem

  &:hover::before
    content: ''
    background-color $color-bg
    box-shadow 0 0 0 2px $color
    // box-shadow 0 0 0 6px $color

.postlist-date
  display inline-block
  margin-left 1rem

// Blog

.post
  max-width 1200px

  h1, h2, h3, h4, p, ol, ul, pre, blockquote, hr, .full-width-text
    @media (min-width 600px)
      max-width 70rem

  h2, h3
    font-family $font-heading
    font-weight 900
    color $color

  h2
    position relative
    font-size 3.5rem
    text-transform uppercase
    letter-spacing .05rem
    margin-top 6rem
    margin-bottom 2rem
    display inline-block
    color $color-bg

    @media (min-width 600px)
      margin-left -2rem
      font-size 4rem

    @media (min-width 1300px)
      font-size 5rem

    &::after
      content attr(data-content)
      position absolute
      top 0;
      left 0
      text-shadow none
      color $color
      background-image linear-gradient(
          45deg,
          transparent 65%,
          currentColor 65%,
          currentColor 85%,
          transparent 0
        ),
        linear-gradient(
          45deg,
          transparent 15%,
          currentColor 15%,
          currentColor 35%,
          transparent 0
        )
      background-size .1em .1em
      -webkit-background-clip text
      -webkit-text-fill-color transparent
 
  h2[data-content=""]
    display block
    margin-top .5rem
    color $color
    
    @media (min-width 600px)
      margin-left 0

    &::after
      display none

  h3
    position relative
    display inline-block
    font-size 1.7rem
    margin-bottom 1rem
    letter-spacing .1rem

    @media (min-width 1300px)
      font-size 2rem

  a
    display inline
    text-shadow -1px -1px $color-bg,
      -1px 1px $color-bg,
      1px -1px $color-bg,
      1px 1px $color-bg
    box-shadow 0 3px rgba($color, .1)
    transition box-shadow .5s steps(3, end)

    &:hover
      box-shadow 0 3px rgba($color, 1)

    // &::selection
    //   text-shadow none

  ul
    list-style outside square

    ul, ol
      padding-left 2rem

    ul
      list-style outside disc
  
  ol
    list-style inside decimal

  .row
    h1, h2, h3, h4, p, ol, ul, pre, blockquote, hr
      @media (min-width 600px)
        max-width none

  div > p
    @media (min-width 600px)
      max-width none

  iframe
  > p > img
    max-width calc(100% + 2rem)
    margin-left -1rem

    @media (min-width 600px)
      margin-left -2rem
      max-width calc(100vw - 16rem)

    @media (min-width 1200px)
      margin-left 0
      max-width calc(1200px - 16rem)

  iframe
    display block
    width 100%

  .ratio-16-9
    position relative
    margin-bottom 1em

    > * 
      position absolute
      top 0
      left 0
      width 100%
      height 100%

// Full width

.full-width-background
.full-width
  position relative
  margin-left -2rem
  margin-right -2rem
  overflow-x hidden

  @media (min-width 600px)
    margin-left -10rem
    margin-right -10rem

  @media (min-width 1200px)
    width 100vw
    max-width 100vw
    min-width 100vw
    margin-right auto

  p
    max-width none

    > img
      margin-left auto
      margin-right auto
      width 100vw
      max-width 100vw

.full-width-text
  // transform translateY(-50%)
  position relative
  z-index 1
  background-color $color-bg
  padding 2.5rem 2.5rem 2.5rem 3rem
  box-shadow 5px 5px $black
  margin-top -20%
  margin-bottom 6rem
  margin-left 2rem
  margin-right 2rem
  border 1px solid $black

  @media (min-width 600px)
    position absolute
    top 50%
    left 10rem
    right 10rem
    transform translateY(-15%)
    padding 2.5rem 3rem 2.5rem 5rem
    border none
    margin 0

  @media (min-width 1200px)
    transform none

  ol:last-child,
  ul:last-child,
  p:last-child
    margin-bottom 0

.full-width-background
  height 60vh
  background-size cover
  background-position center center

.full-width.tiles
  margin-bottom 0

  > p:first-of-type
    display flex
    flex-wrap wrap
    padding 0

    > *
      width auto
      flex-basis 50%
      max-width: 50%;


  .full-width-text
    position relative
    margin-top -10%
    margin-bottom 1.8em
  
  
.post-title
  font-family $font-heading
  font-weight 900
  font-size 5.5rem
  line-height 1
  letter-spacing -.4rem
  word-break break-word
  color $color-bg
  -webkit-text-stroke 2px $color
  text-shadow .3rem .4rem 0 $color
  text-transform uppercase
  margin-bottom 2rem

  @media (min-width 600px)
    font-size 9rem
    letter-spacing -.6rem
    text-shadow .4rem .5rem 0 $color

  @media (min-width 1200px)
    width calc(100vw - 20rem)


.post-date
  display block
  font-size 1.5rem
  margin-bottom 3rem

.ratio-box
  position relative

  > * 
    position absolute
    top 0
    left 0
    width 100%
    height 100%

.ratio-button
  display inline-block
  background transparent
  color $color
  border 1px solid currentColor


.ratio-16-9
  padding-top 56.25%

.ratio-239-1
  padding-top 41.84%

.ratio-4-3
  padding-top 75%
