<!doctype html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ renderData.title or title or metadata.title }}</title>
		<meta name="Description" content="{{ renderData.description or description or metadata.description }}">
		<meta property="og:title" content="{{ renderData.title or title or metadata.title }}" />
		<meta property="og:type" content="website" />
		<meta property="og:site_name" content="Views" />
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:site" content="@remybarthez" />
		<meta name="twitter:creator" content="@remybarthez" />
		<meta name="twitter:title" content="{{ renderData.title or title or metadata.title }}" />
		<meta name="twitter:description" content="{{ renderData.title or title or metadata.title }}" />
		{% if image %}
		<meta property="og:image" content="{{ metadata.url + image }}">
		<meta name="twitter:image" content="{{ metadata.url + image }}" />
		{% elif metadata.image %}
		<meta property="og:image" content="{{ metadata.url + metadata.image }}">
		<meta name="twitter:image" content="{{ metadata.url + metadata.image }}" />
		{% endif %}
		<link rel="stylesheet" href="{{ '/css/index.css' | url }}">
		<link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
		<meta name="msapplication-TileColor" content="#002fa7">
		<meta name="theme-color" content="#002fa7">
	</head>
	<body>
		<div{% if templateClass %} class="{{ templateClass }}"{% endif %}>
			<div class="main">
				<header>
					<h2 class="blog-title"><a class="blog-title__link" href="{{ '/' | url }}">{{ metadata.title }}</a></h2>
				</header>

				<main>
					{{ content | safe }}
				</main>
			</div>
		</div>

		<footer>﹒</footer>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-164644-9"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-164644-9');
    </script>

		<!-- Current page: {{ page.url | url }} -->
	</body>
</html>
